body {
	background: #000;
	background-image: ;
}
#lobby-overlay {
	box-shadow: 0 0 48px 4px #000;
	border: 1px solid #272727;
	background: rgba(0, 0, 0, 0.35);
	background-image: none;
	font-family: Segoe UI Light !important;
}
.overlay-header {
	background-image: none;
	background-color: rgba(0, 0, 0, 0.0);
}
.overlay-title {
	font-size: 23px;
	top: 11px;
	left: 10px;
	font-family: Segoe UI Light;
}
#lobby-search {
	background: #ECF0F1;
	height: 28px;
	top: 16px;
	background-image: none;
}
#lobby-search .search-input input {
	top: 4px;
	color: #95A5A6;
}
#create-room-button {
	top: 16px;
	width: 130px;
	height: 28px;
	font-size: 18px;
	text-align: center;
	background: #95A5A6;
	background-image: none;
}
#lobby-panel {
	background-image: none;
}
#lobby-panel-list {
	font-size: 11px;
	background-color: rgba(0, 0, 0, 0.0);
}
#lobby-panel-list ul {
	font-size: 11px;
	background-color: rgba(0, 0, 0, 0.0);
}
.room-list {
	border: none;
	background: none;
}
.room-list-item {
	height: 88px !important;
	background: rgba(153, 153, 153, 0.22);
}
.room-population {
	color:  #FFF;
}
.room-name {
	color: #5BC0F0;
}
.room-hosted-by {
	color: #A8A8A8;
	font-size: 11px;
}
.room-host-name {
	color: #5BC0F0;
	font-size: 12px;
}
.room-now-playing {
	color: #FFF;
	top: 29px;
}
.room-media {
	top: 29px;
	color: #A8A8A8;
}
.room-djs {
	color: #A8A8A8;
}
#background {
	background: url(http://i.imgur.com/V2XVZL3.jpg) no-repeat;
	background-position: -95px 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
}
